html, body {
  height: 100%;
  margin: 0; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App-header {
  flex: 1;
  background-color: #132e63;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer{
  background-color: #132e63;
  padding-bottom: 10px;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
  position: relative;
  bottom: 0;
  position: fixed;
  width: 100%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1);
  }
}

.App-logo {
  animation: pulse 2s infinite; 
  height: 40vmin;
  pointer-events: none;
  margin-top: 30px;
}

.time, .button-send {
  margin-bottom: 15px;
  padding: 20px 10px 20px 20px;
  border-radius: 10px;
  transition: transform 0.6s ease;
  background-color: #EC7000;
  max-width: 100%; 
  outline: none; 
  cursor: pointer;
  border: none;
  color: #fff;
}

input.time::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}

.button-send:hover {
  transform: translateY(-10px);
}

.button-send {
  font-weight: bold;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #0d1733;
  color: #0d1733;
}

.actions {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box; 
}

@media (max-width: 600px) {
  .time, .button-send {
    max-width: 100%; 
  }

  .actions {
    padding: 20px;
    width: 90%; 
  }
}
